/* emprunts.component.css */
.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #960018;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

td {
  background-color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

mat-checkbox {
  margin: 0;
}

.banderau {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #960018;
  color: white;
  font-size: large;
}

h1 {
  font-size: 50px;
  margin-top: 20px;
}

.page {
  background-color: grey;
  height: 100vh;
}

mat-paginator {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: darkgray;
  color: white;
}

.button {
  margin-top: 10px;
  margin-left: 10px;
  background-color: #960018;
  color: white;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  padding: 0;
  cursor: pointer;
}

/* Responsive CSS using media queries */
@media (max-width: 768px) {
  .table-container {
    overflow-x: auto; /* Add horizontal scrolling on small screens */
  }
  table {
    width: auto; /* Remove the fixed width for the table */
  }
}
