<div class="page">
  <div class="banderau">
    <h1>Liste des emprunts</h1>
    <button mat-button (click)="sortData('nomEmprunteur')">Trier par nom</button>
    <button mat-button (click)="sortData('dateEmprunt')">Trier par date</button>
    <button mat-button (click)="sortData('debit')">Trier par montant</button>
    <mat-form-field>
      <input matInput placeholder="Search by Name" (keyup)="applyFilter($event)">
    </mat-form-field>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="nomEmprunteur">
        <th mat-header-cell *matHeaderCellDef>Nom de l'emprunteur</th>
        <td mat-cell *matCellDef="let emprunt">{{ emprunt.nomEmprunteur }}</td>
      </ng-container>

      <ng-container matColumnDef="debit">
        <th mat-header-cell *matHeaderCellDef>Débit</th>
        <td mat-cell *matCellDef="let emprunt">{{ emprunt.debit }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let emprunt">{{ emprunt.email }}</td>
      </ng-container>

      <ng-container matColumnDef="dateEmprunt">
        <th mat-header-cell *matHeaderCellDef>Date d'emprunt</th>
        <td mat-cell *matCellDef="let emprunt">{{ emprunt.dateEmprunt | date }}</td>
      </ng-container>

      <ng-container matColumnDef="rembourse">
        <th mat-header-cell *matHeaderCellDef>Remboursé</th>
        <td mat-cell *matCellDef="let emprunt">
          <mat-checkbox [checked]="emprunt.rembourse"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="dateRemboursement">
        <th mat-header-cell *matHeaderCellDef>Date de remboursement</th>
        <td mat-cell *matCellDef="let emprunt">{{ emprunt.dateRemboursement | date }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let emprunt">
          <button mat-icon-button (click)="editDateRemboursement(emprunt)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>

    </table>

  </div>
  <div class="paginator-container">
    <mat-paginator [pageSizeOptions]="[7]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  <button mat-button (click)="ouvrirModalNouvelEmprunt()" class="button">
    <mat-icon>add</mat-icon>
  </button>
</div>
